# Scanning
python-nmap==0.7.1
scapy==2.6.1

# Rapport PDF (WeasyPrint + dépendances)
weasyprint==68.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Pillow==12.1.0
tinycss2==1.5.1
cssselect2==0.8.0
tinyhtml5==2.0.0
pydyf==0.12.1
fonttools==4.61.1
pyphen==0.17.2
webencodings==0.5.1
cffi==2.0.0
pycparser==3.0.0
brotli==1.2.0
zopfli==0.4.0

# Interface terminal
rich~=13.7

# Cartographie réseau
matplotlib~=3.8
